.container{

  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  .container-tasks{
    display:flex;
    flex-direction:row;
  }
  .column{
    display:flex;
    flex-direction:column;
    padding: 2em;
  }

  .cell{
    display:flex;
    flex-direction:column;
    padding: 0.5em;

 
  }
  .cell-category{
    display:flex;
    flex-direction:row;
    padding: 0.5em;
  }
  .category-name{
    padding: 0 5px 0 5px;
  }
}

.crud{
  padding: 2em;
  display: flex;
  flex-direction:row;
  
  label{
    padding: 15px;
  }

}

